html{
    background-color:#fffdf9;
    width:100%;
    margin: auto;
    display: flex;
    align-content: center;
}

body{
  
  padding: 0px;
  /* 置中 */
  margin: 0px auto;
}

/* 浮動視窗 */
#sidebar {
	position: absolute;
	height: 7vw;
    width: 7vw;
    top:25%;
    margin-left: 68vw;
    float: right;
    z-index: 9;
    
}
 
#cart {
    position: fixed;
    z-index: 9;
    opacity: 0;
}

#header{
    width: 4.6vw;
    /* outline: 1px solid #000; */
	height:4.14vw;
    z-index: 9999;
    background-size: 99%;
    background-position: center;
    background-image:url(../images/heartgradual_icon.png);
    margin-left: 26vw;
}

#popWindow{ 
    width:20vw; 
    height:30vw; 
    margin-left: 9.7vw;
    background-color: rgb(249, 251, 255);
    box-shadow:5px 5px 10px rgba(0, 0, 0,0.2); /*此行設定div的外框陰影*/
    border:0.5px #854B4B solid; /*此行設定div的外框線條*/
    border-radius:5px; /*此行設定div的外框圓角*/
    position:fixed; /*此行設定div為不隨捲動而移動的模式*/
    float: right;
    display:none;
    }

/* 浮動視窗結束 */


.yellowbackground{
    width: 100vw;
    height: 55vw;
    padding: 0px;
    margin: 0px;
    z-index: 9;
}
/* 上面選單 */
.colorbar{
    width: 100vw;
    height: 33vw;
    position: absolute;
    top: 20.32vw;
    background-color:#FFD655;

}
.top{
    display: flex;
    padding:0;
    margin: 0;
    /* position:fixed; */
    /* position: absolute; */
    z-index: 0;
}

.name{
    color:#854B4B;
    position: absolute;
    top:5vw;
    left:61.25vw;
    font-family:Bodoni MT;
    font-size:2.73vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
.candy{
    color:#854B4B;
    position: absolute;
    top:14.28vw;
    left:61.25vw;
    font-family:Segoe WP;
    font-size: 1.56vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.chocolate{
    color:#854B4B;
    position: absolute;
    top:14.28vw;
    left:68.45vw; 
    font-family:Segoe WP;
    font-size: 1.56vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
.cookie{
    color:#854B4B;
    position: absolute;
    top:14.28vw;
    left:78.35vw; 
    font-family:Segoe WP;
    font-size: 1.56vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.heart_icon_top{
    position: absolute;
    width: 2vw;
    height: 1.875vw;
    top:12vw;
    left:61.5vw;

}
.user_icon_top{
    position: absolute;
    width: 1.7vw;
    height: 2.3vw;
    top:11.66vw;
    left:64.95vw;
}
.img_top1{
    position: absolute;
    width: 53.2vw;
    height: 40.39vw;
    top:2.5vw;
    left: 3.4vw;
}
.img_top2{
    position: absolute;
    width: 20.7vw;
    height: 26vw;
    top:21vw;
    left: 58.8vw;
}
.img_top3{
    position: absolute;
    width: 14.84vw;
    height: 18.98vw;
    top:21vw;
    left: 81.71vw;
}
#gototopseller{
    position: relative;
    color:rgba(133, 75, 75,0.5);
    top:43vw;
    left:30vw; 
    font-family:Segoe WP;
    font-size: 1.56vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    
}

/* 熱門商品 */
.wordhot{
    color:#854B4B;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:11vw auto 2vw;
    font-family:Sylfaen;
    font-size: 2.7vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    z-index: 9;
    text-shadow:  0px 2px 2px rgb(99, 51, 51)
}
.hotmar{
    margin-top:11vw;
}
.hot{
    display: flex;
    padding: 0px;
    margin: 0;
    margin-top: 50vw;
}
.hotimg{
    display: flex;
    position: relative;
    padding: 0px;
    top:2vw;
    margin-left: 3.4vw;
    z-index: 9;
}
.hot2{
    width: 22.3vw;
    height: 30.5vw;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-left: 3.4vw;
    margin-right: 0.8vw;
    position: relative;
    z-index: 9;
}
.hot1{
    width: 46vw;
    height: 30.5vw;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-right: 0.8vw;
    position: relative;
    z-index: 9;
}
.hot3{
    width: 22.3vw;
    height: 30.5vw;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    position: relative;
    z-index: 9;
}
.hotbackground000{
    width: 100vw;
    height: 181.5vw;
    position: absolute;
    /* background-color: rgb(255, 214, 85); */
    z-index: 5;
    margin-top: -90vw;


}

/* 下面的照片圖 */
.itembackground{
    background-color:#fffdf9 ;
    width: 100vw;
    height: 80vw;
    position: absolute;
    z-index:0;
    margin-top: -10vw;
}
.row1{
    display: flex;
    padding: 0px;
    margin-top: 70vw;
    position: relative;
    z-index: 9;
}
.row2{
    display: flex;
    padding: 0px;
    margin-top:2vw;
    position: relative;
    z-index: 9;
}
.row3{
    display: flex;
    padding: 0px;
    margin-top:2vw;
    position: relative;
    z-index: 9;
}
a{
    text-decoration:none;
}
.box1{
    width: 15.8vw;
    height: 20.5vw;
    background-color:#FFEAA8;
    margin-left: 14vw;
    
}
.box2{
    width: 15.8vw;
    height: 20.5vw;
    background-color:#FFEAA8;
    margin-left: 2.8vw;

}
.box3{
    width: 15.8vw;
    height: 20.5vw;
    background-color:#FFEAA8;
    margin: 0vw 14vw 0 2.8vw;

}
.boximg{
    width: 13.75vw;
    height: 13.75vw;
    margin: 1.1vw 1vw 5.625vw 1vw;
}
.information{
    
    margin-top: -5.2vw;
    margin-left : 1.3vw;
    color:#854B4B;
    font-family:Segoe WP;
    font-size:0.95vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
/* 頁數 */
.number{
    font-family:Franklin Gothic Book;
    font-size:1.3vw;
    color:#854B4B;
    display: flex;
    margin-left: 44vw;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    list-style-type: none;
    position: relative;
    z-index: 9;
}
.one{
    margin-right: 2vw;
}
.two{
    margin-right: 2vw;
}
/* footer */
footer{
    width: 100vw;
    height:7vw;
    background-color:#FFD655;
    display: flex;
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: 1;
}
.fb_icon{
    background-color:rgb(249, 251, 255);
    width: 2.3vw;
    height:2.3vw;
    border-radius: 3px;
    margin: 2.34vw 1.8vw 2.34vw 68.2vw; 
}
.ig_icon{
    background-color:rgb(249, 251, 255);
    width: 2.3vw;
    height:2.3vw;
    border-radius: 7px;
    margin: 2.34vw 1.8vw 2.34vw 0;
}
.line_icon{
    background-color:rgb(249, 251, 255);
    width: 2.3vw;
    height:2.3vw;
    border-radius: 3px;
    margin: 2.34vw 1.8vw 2.34vw 0;
}
.footerline{
    width: 2px;
    height: 2.3vw;
    background-color: #854B4B;
    margin: 2.34vw 1.8vw 2.34vw 0;
    opacity: 0.5;
}
.ABOUT{
    color:#854B4B;
    margin:  2.8vw 1.8vw 2.34vw 0;
    font-family:Franklin Gothic Book;
    font-size: 1.4vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
.HELP{
    color:#854B4B;
    margin:  2.8vw 1.8vw 2.34vw 0;
    font-family:Franklin Gothic Book;
    font-size: 1.4vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}